streamlit==1.38.0
streamlit_webrtc
opencv-python-headless==4.10.0.84
av
SpeechRecognition==3.10.1
langchain==0.3.0
langchain-anthropic==0.2.1
langchain-cohere==0.3.0
langchain-community==0.3.0
langchain-google-genai==2.0.0
langchain-openai==0.2.0
async-lru==2.0.4
nest-asyncio==1.5.8
threadpoolctl==3.2.0
keyboard==0.13.5
gTTS==2.5.3
